{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 수정하기</title>
    <link rel="stylesheet" href="{% static 'posts/styles_update.css' %}">
    <link rel="stylesheet" href="{% static 'posts/reset.css' %}">
</head>

<body>

    <h1 class="update_h1">🎥my<span>Movie</span>Reviews
        <a href="/posts/create" class="update_link">Add a New review</a>
    </h1>
    <hr>

    <div class="update_inner">
        <h2>Movie <span>review</span>🍿</h2>
        <form action="/posts/{{ post.id }}/update" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">제목:</label>
                <input type="text" id="title" name="title" placeholder="제목" value="{{ post.title }}" required /> <br />
            </div>
            <div class="form-group">
                <label for="year">개봉년도:</label>
                <input type="text" id="year" name="year" placeholder="개봉년도" value="{{ post.year }}" required /> <br />
            </div>
            <div class="form-group">
                <label for="genre">장르:</label>
                <input type="text" id="genre" name="genre" placeholder="장르" value="{{ post.genre }}" required /> <br />
            </div>
            <div class="form-group">
                <label for="rating">별점:</label>
                <input type="text" id="rating" name="rating" placeholder="별점" value="{{ post.rating }}" required />
                <br />
            </div>
            <div class="form-group">
                <label for="runtime">러닝타임:</label>
                <input type="text" id="runtime" name="runtime" placeholder="러닝타임" value="{{ post.runtime }}" required />
                <br />
            </div>
            <div class="form-group">
                <label for="review">리뷰:</label>
                <textarea id="review" name="review" cols="30" rows="10" placeholder="리뷰"
                    required>{{ post.review }}</textarea>
            </div>
            <div class="form-group">
                <label for="director">감독:</label>
                <input type="text" id="director" name="director" placeholder="감독" value="{{ post.director }}"
                    required />
                <br />
            </div>
            <div class="form-group">
                <label for="actors">배우:</label>
                <input type="text" id="actors" name="actors" placeholder="배우" value="{{ post.actors }}" required />
                <br />
            </div>
            <div class="form-group">
                <label for="image_url">이미지 URL:</label>
                <input type="text" id="image_url" name="image_url" placeholder="이미지 URL" value="{{ post.image_url }}"
                    required /> <br />
            </div>
            <div>
                <input type="submit" value="Save">
            </div>
        </form>
    </div>
</body>

</html>