{% extends "base.html" %}
{% load static %}

{% block title %}Create Idea{% endblock %}

{% block content %}
<div class="create">
    <div class="create_inner">
        <h2>💡Idea <span>Register</span>💡</h2>
        <form action="/posts/create" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">아이디어명:</label>
                <input type="text" id="title" name="title" placeholder="제목" />
            </div>
            <div class="form-group">
                <label for="image_url">이미지:</label>
                <input type="url" id="image_url" name="image_url" class="form-control" />
            </div>
            <div class="form-group">
                <label for="review">아이디어 설명</label>
                <textarea id="review" name="review" cols="30" rows="10" placeholder="리뷰"></textarea>
            </div>
            <div class="form-group">
                <label for="rating">아이디어 관심도:</label>
                <input type="text" id="rating" name="rating" placeholder="별점" />
            </div>
            <div class="form-group">
                <label for="genre">예상 개발툴:</label>
                <select id="genre" name="genre">
                    <option value="">-------</option>
                    <option value="Django">Django</option>
                    <option value="Spring">Spring</option>
                    <option value="React">React</option>
                    <option value="HTML">HTML</option>
                    <option value="CSS">CSS</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save">
            </div>
        </form>
    </div>
</div>
{% endblock %}